* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
    gap: 2vw;
    background-color: #0C1821;
}

.payment-dets {
    width: 60vw;
    height: 100%;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.payment-dets form {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form .input-field {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    font-size: 1.3vw;
}

form .input-field input {
    font-size: 1em;
    border: none;
    outline: none;
    color: black;
    padding: 0.5em 1em;
    border-radius: 5px;
}

.amount-dets {
    margin-top: 5vw;
}

.amount-dets > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2vw;
    margin: 0.5vw 0;
}

.destination-dets * {
    color: black;
}

.destination-dets {
    background-color: #81D1B5;
    width: 40vw;
    height: 100%;
    padding: 2vw;
    border-radius: 5px;
    box-shadow: -8px 0px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.destination-dets .image {
    background-color: black;
    height: 20vw;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.destination-dets .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.destination-dets h1 {
    text-align: center;
    font-size: 4vw;
}

.destination-dets .dets {
    margin-top: 4vw;
}

.destination-dets .dets > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3vw;
    margin: 0.3vw;
    font-weight: 450;
}