<footer>
    <div class="footer-upper">
        <div class="tag">
            <h1 class="heading">SpaceXplore</h1>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/muhammad-saad-haider-942167317/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/M-SaaD-H" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.instagram.com/mohd.saadhaider/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
        <div class="links">
            <ul>
                <p>Support</p>
                <li>Help Center</li>
                <li>Anti Discrimination</li>
                <li>Disability support</li>
                <li>Cancellation options</li>
            </ul>
            <ul>
                <p>SpaceXplore</p>
                <li>Newsletter</li>
                <li>New features</li>
                <li>Careers</li>
                <li>Investors</li>
            </ul>
        </div>
    </div>
    <hr style="opacity: 0.3; margin: 3.5em 0.5em 0.5em 0.5em;">
    <p style="margin-left: 3em;">&copy; Saad, The Unfazed</p>
</footer>