<div class="nav">
    <nav>
        <div class="logo">
            <h1>SpaceXplore</h1>
        </div>
        <div class="nav-left">
            <div class="links">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/destinations">Destinations</a>
                <a href="/contact">Contact Us</a>
            </div>
            <a href="/login"><button id="login-btn" class="btn">Login</button></a>
            <div id="profile-btn" class="hide">
                <i class="fa-solid fa-user"></i>
            </div>
            
            <!-- Logout Btn -->

            <div class="logout-dropdown hide">
                <button id="profile-link">View Profile</button>
                <button id="logout-btn">Logout</button>
            </div>
        </div>
    </nav>
</div>