<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Success</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/views/styles/global.css">
    <link rel="stylesheet" href="/views/styles/payment-success.css">
</head>
<body>
    <div class="container">
        <div class="dets">
            <div class="pay-success">
                <div class="tick"><div><i class="fa-solid fa-check"></i></div></i></div>
                <p>Payment Success!</p>
                <h2>'Amount'</h2>
            </div>
            <div class="pay-dets">
                <h2>Payment Details</h2>
                <div class="dets">
                    <div class="rcpt-id">
                        <p>Receipt ID</p>
                        <p>'rcptid'</p>
                    </div>
                    <div class="pay-status">
                        <p>Payment Status</p>
                        <p><i class="fa-solid fa-check" style="background-color: #40D195; border-radius: 50%; padding: 0.25vw 0.3vw; margin-right: 0.5vw;"></i>Success</p>
                    </div>
                    <div class="pay-time">
                        <p>Payment time</p>
                        <p>'time'</p>
                    </div>
                    <hr>
                    <div class="amount">
                        <p>Amount</p>
                        <p>'amount'</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="/" style="width: 100%;"><button class="btn" style="width: 100%;">Back to Home</button></a>
    </div>
</body>
</html>